*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./assets/hero_section_image.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;

}

header .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}

nav{
    display: flex;
    position: relative;
    max-width: 80vw;
    margin: 0px 100px 0px 100px;
    height: 20px;
    background-color: blue;
    top: 20px;
}

nav img{
    z-index: 10;
}