/* universal style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: auto;
    padding: 20px 0px;
}