*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./assets/hero_section_image.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;

}

header .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.55;
    position: absolute;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 80vw;
    margin: 0px 150px 0px 100px;
    height: 20px;
    top: 20px;
    z-index: 10;
}

nav img{
    z-index: 10;
}

.btn{
    padding: 5px 15px;
    background-color: rgba(20, 20, 20,0.5);
    color: white;
    border: 4px;
    font-size: larger;
    font-weight: 500;
}

.btn-sign{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: larger;
    font-weight: 500;
}